*.sh
*.ts
*.js
.*.js
*.json
*.md
*.html
.*ignore
Makefile
.nvmrc

docs
src
tmp
test
coverage
node_modules

!bin
!dist
!public
!dist/**/*.js
!dist/**/*.d.ts
!public/**/*.js
!public/**/*.css
!public/**/*.html
!package.json
!package-lock.json
