extends ../components/layout

block content
  ul
    each plan in plans
      li= plan.object + ' - ' + plan.id + ' : ' + plan.amount + ' : ' + plan.billing_scheme + ' : per ' + plan.interval_count + ' ' + plan.interval
    else
      li No Pricing Plans Available