mixin console-button(isAuthenticated)
  if isAuthenticated
    button(
      class="btn btn-default btn-console btn-block",
      onclick=`window.location='${consoleUrl}?token=${access_token}'`
    ) sockz&gt;&nbsp;
