mixin footer()
  footer(class="bg-light p-3 text-center")
    img(
      class="mb-3 App-logo"
      src="/img/logo.png"
      alt="Sockz logo"
      width="40"
    )
    p
      | Sugar tits brought to you by&nbsp;
      a(target="_blank" rel="noopener noreferrer" href="https://charlie.cloud") charlie.cloud

