mixin hero(heroLogo)
  div(class="text-center hero")
    img(
      class="mb-3 App-logo"
      src=heroLogo
      alt="Sockz logo"
      width="120"
    )
    h1(class="mb-4") sockz.io
    p(class="lead")
      | fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam id leo in vitae turpis massa sed elementum tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse in est ante in

