include ./main-nav
include ./auth-nav

mixin nav-bar(activeRoute)
  div(class="nav-container mb-3")
    nav(class="navbar navbar-expand-md navbar-light bg-light")
      div(class="container")
        div(class="navbar-brand")
          img(src="/img/logo.png" style="max-width: 50px")
        +main-nav(activeRoute)
        +auth-nav(isAuthenticated)
